*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color: #23242a;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-self: center;
    align-items: center;

    .navegador{
        margin: 30px ;
        gap: 10px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 30px;
        color: whitesmoke;
        &::hover{
            cursor: pointer;
            color:blueviolet;
        }
    }

}