<body>
  <div class="box">
    <span class="borderline"></span>
    <form [formGroup]="form">
      <h2>Usuario</h2>
      <div class="inputbox">
        <input type="text" required="required" formControlName="name" />
        <span>Name</span>
        <i></i>
      </div>
      <span
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
        >este campo es necesario</span
      >
      <div class="inputbox">
        <input type="text" required="required" formControlName="job" />
        <span>job</span>
        <i></i>
      </div>
      <span *ngIf="form.get('job')?.invalid && form.get('job')?.touched"
        >este campo es nesesario</span
      >
      <!-- <div class="links">
        <a href=""></a>
        <a href=""></a>
      </div> -->
      <input
        type="submit"
        value="registar"
        [disabled]="form.invalid"
        (click)="enviarDatos()"
      />
    </form>
  </div>
</body>
